
 .main {
     /* background: url("images/resize.png"); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; */
}

  .login{
      /* background: url("images/firstpage.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
     */
  }
  



#top-container {
    position: absolute;
    margin-right: 10px;
     top: 50px;
     right: 230px;
     width: 80%;
 }

.nav-bar {    
    margin-top: 30px;
}


    li {
      font-family: 'Amatic SC', cursive;
       list-style-type: none;
      color: #2e161d;
      display: inline;
      position: relative;
      font-size: 45px;
      padding-right:20px;
      top: 10px;
      padding-left: 5px;
      font-weight: bold;
    
    }   

  
    #main-container {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:minmax(auto, auto);
        margin-top:200px;
        margin-left: 185px;
        float:center;
        background: white;
        border-style:solid;
        border-color: #5b2337;
        box-shadow:10px 20px 0px 5px #5b2337;
        border-radius: 20px;
        width: 80%;
        height: auto;
        position:relative;
    }

    #main-container-2 {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:minmax(auto, auto);
        margin-top:200px;
        margin-left: 40px;
        float:center;
        background: white;
        border-style:solid;
        border-color: #5b2337;
        box-shadow:10px 20px 0px 5px #5b2337;
        border-radius: 20px;
        width: 55%;
        height: auto;
        position:relative;
    }

    #main-container-3{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:minmax(auto, auto);
        margin-top:350px;
        margin-left: 40px;
        float:center;
        background: white;
        border-style:solid;
        border-color: #5b2337;
        box-shadow:10px 20px 0px 5px #5b2337;
        border-radius: 20px;
        width: 20%;
        height: 200px;
        position:relative;
    }
    

    .card {
        text-align: center;
        float: left;
        width: auto;
        height: auto;
        margin-left: 24px;
        margin-right: 15px;
        margin-top: 25px;
        background: white;
        padding-bottom: 50px;
        border-style: solid;
        border-radius: 20px;
        border-color: #a67871;
        box-shadow:10px 2px 5px 4px #2e161d;
      
    }

    .card-2 {
        text-align: center;
        float: left;
        width: auto;
        height: 220px;
        margin-left: 24px;
        margin-right: 15px;
        margin-top: 25px;
        background: white;
        padding-bottom: 50px;
        border-style: solid;
        border-radius: 20px;
        border-color: #a67871;
        box-shadow:10px 2px 5px 4px #2e161d;
      
    }
   
     a { 
         text-decoration-color: pink;
         position: absolute;
         bottom: 0;
        
         
     }
      
      .btn {

          width:55px;
          height: 200x;
      }
     
 

      input{
            position:relative;
          width: 100px;
        margin-left:30px;
        width: 100%;
        padding: 15px;
        border-style: solid;
        border-width: 4px;
        border: #a67871;
       
      }

      .form-popup {
        padding: 10px;
        position: absolute;
        width:30px;
        height: 500px;
        left: 300px;
    
      }

    
      .little-sweater {
        position: absolute;
   
      }

      .little-sweater-2{
          position: absolute;
          float:right;
        }

      #createName{
            position: absolute;
            margin-top:100px;
            bottom:0;
            left:0;
            margin-left:120px;
            font-family: 'Amatic SC', cursive;
            border-style: solid;
            border-color: #5b2337;
            border-width: 2px;
            font-size:30px;
            font-weight:3px;
            color:#5b2337;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;
            padding-top:18px;
            width: 180px;
            height: 80px;
        
         } 

     span {
         position: absolute;
        bottom:0;
        right:0;
        font-family: 'Dancing Script', cursive;
         color:#2e161d;
         font-weight: bold;
         width:55px;
         border-radius: 4px;
         border-style:solid;
         border-width: 4px;
         border-color: #2e161d;
         
         
     }

   
      #side-card {
        position: relative;
        float:right;
        width: 200px;
        height:20px;
        margin: 20px;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
    }

    p{
        color: #2e161d;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 20px;
    
        
    }

    .side-label {
        padding-bottom: 10px;
        font-family: 'Amatic SC', cursive;
         color: #ab4f01;
         font-size: 35px;
        text-decoration: underline;
         margin-left: 20px;
         padding-left:10px;
         margin-top: 26px;
    
       }
       

       h4 {
           font-size: 35px;
            color:#ab4f01;
           font-family: 'Nanum Pen Script', cursive;
           float:center;
           align-items: center; 
       }
       
    
       #side-bar {
        position: absolute;
        top: 200px;
        right: 100px;
        width: 27%; 
        overflow:scroll;
        background: #5b2337;
        border-radius: 30px;
        height: 450px;
    }

      ::-webkit-scrollbar {
        width: 10px;
        }
        
        ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(176, 79, 79); 
        border-radius: 10px;
        }
        
       
     .button-and-card {
        position:relative;
        border: #2e161d;
        font-family: 'Dancing Script', cursive;
        border-width: 4px;
        box-shadow:5px 3px 4px 5px #a67871;
         border-radius: 5px;
         padding:10px;
         margin:30px;
         background: white;
     }

    h5{
        position:relative;
    }

     .categ-name {
        font-family: 'Nanum Pen Script', cursive;
        font-size: 20px;
        color: #2e161d;
     }
     h2.categ-name {
        font-family: 'Nanum Pen Script', cursive;
        font-size: 30px; 
        color:#2e161d;
     
        margin-top:-15px;
     }
     h5.categ-name {
        font-family: 'Nanum Pen Script', cursive;
        font-size: 20px; 
        color:#ab4f01;
        margin-top: -15px;
        padding-bottom:20px;
     }
     

       .deleteButton{
        position:absolute;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;
       }

       .submitButton{
        position:absolute;
        margin-top:15px;    
        bottom: 0;
        left:0;
        width: auto;
        height: auto;
       }

        button.btn {
          
            margin-top:30px;
            font-family: 'Amatic SC', cursive;
            position: relative;
            border-style: solid;
            border-color: #5b2337;
            border-width: 2px;
             font-size:30px;
             font-weight:3px;
            color:#5b2337;
            text-align: center;
            align-items: center;
            padding: 16px 15px;
            width: auto;
            height:auto;
          
            float:left;
      
      }
        h3{
            font-family: 'Amatic SC', cursive;
            color: #ab4f01;
            font-size:40px;
            margin-left:30px;
        }

        .sweater{
           
            float:left;
            margin-top: 30px;
            margin-left: 15px;
        }
        .sweater-2{
            float:left;
            margin-left:-90px;
          
            
        }


      
       .signup-form-popup{
        font-family: 'Dancing Script', cursive;
        font-size: 18x;;
        position: absolute;
        margin-left:15px;
        font-weight: bold;
       }
       #signup-form{
        font-family: 'Dancing Script', cursive;
           position:absolute;
           float:center;
           width: 200px;
           height:auto;
       }
      
       select {
    
        position: absolute;
        left: 40;

       }

    